
/* -------
RESET
-------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cabin', sans-serif;
    }
a{
    text-decoration: none;
    color: #ffff;
    display: flex;
    align-items: center;
}



/*------------
   TYPOGRAPHY
   ---------*/
   header h1{
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 50px;
   }
   .col-40 h1{
    font-size: 45px;
    margin-bottom: 35px;
   }

 header{
    color:#ffffff ;
    text-align: center;
}

header p{
        margin-bottom: 30px;
}

.hero > button{
        height: 60px;
        font-size: 30px;
        font-weight: 300;
        

        
        
}
.btn-black{
        background-color: #23272a;
        color: #ffff;
    }

header{
    background-image: url(img/jumbo.png);
    padding-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-header{
    padding: 6px;
    
}
.container-nav{
    margin: auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    margin-top: 25px;
    height: 40px;
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.col-25{
    width: 25%;
}

.col-25:last-child{
    display: flex;
    justify-content: flex-end;
}
.col-x{
    width: calc(70% / 4);
}

.col-30{
    width: 30%;
}
.col-40{
    width: 40%;
}

.col-50{
    width:50%;
}


.col-60{
    width: 60%;
}

.hero{
    margin: auto;
    margin-top: 50px;
    width: 900px;
    
    
}
.container{
    display: flex;
    margin: auto;
    max-width: 1200px;
}
footer{
    border-bottom: 5px solid #ffffff;
}

footer section{
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 5px solid white;
}
footer > div{
    width: 1200px;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    border-bottom: 1px solid #ffffff;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;

}
.btn{
    display: flex;
    justify-content: flex-end;
    }
    
    /* -------
    utility
    -------- */
button{
    border-radius: 40px;
    background-color: #ffffff;
    color: #23272a;
   padding: 6px 16px;
   border: none;
   font-weight: bold;
}

section:nth-child(even){
    background-color: #d3d3d3;

}







/* -------
DEBUG
-------- */
.debug .col-x, 
.debug .col-25, 
.debug  .col-30, 
.debug .col-40, 
.debug .col-50, 
.debug .col-60,.debug  .container-header,.debug  .hero, .debug .container,.debug  .logo, .debug .btn{
    border: 1px dashed black;
}
.debug .hero{
    height: 400px;
    background-color: #ee82ee;
}

.debug .container-header{
    background-color: #add8e6;
}
.debug .container-nav{
    background-color: #daa520;
}
.debug .container{
    width: 1200px;
    height: 500px;
    background-color: #228b22;
}
.debug main > .container:last-child{
    height: 900px;
}

footer{
    background-color: #23272a;
}

.debug footer > div{
    background-color: #7fffd4;
    
}

.debug .col-x{
    background-color: #20b2aa;
}
.debug .col-30{
    background-color: #f08080;
}
.debug .col-40{
    background-color:#ffc0cb ;
}
.debug .col-60{
    background-color: #1e90ff;
}

.debug .logo,.debug  .btn{
    width: 80px;
    height: 40px;
    background-color: #ffb6c1;
    line-height: 40px;
}